body{
  background: #3F3F3F;
}

:root{
  margin: 10px
}

.wrapper{
  background: #1F1F1F;
}

.date{
  width: 100%;
}

.expenseinput{
  margin: 2rem;
}

.field{
  width:45%;
}

.inputtop{
  display:flex;
  align-items: space-around;
}
.addexpense{
  display: flex;
  justify-content: flex-end;
}

.expense-card{
  p{
    color:white;
    align-content: center;
    text-align: center;
  }
  background:#4B4B4B;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.dateCard{
  p{
    &:hover{
      color:black;
    }
  }
  background:#1F1F1F ;
  width: 100px;
  height:100px;
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.amount{
  height: fit-content;
  width: auto;
  padding:1rem 1.5rem;
}

.deleteexpense{
  height: fit-content;
  width: auto;
  padding:1rem 1.5rem;
  margin:5px;
}

.left{
  display: flex;
    justify-content: space-between;
    align-items: center;
}

.right{
  display: flex;
    align-items: center;
    justify-content: space-between;

}

.filter{
  display: flex;
  p{
    padding-bottom: 1rem;
  }
  
}
.noexpense{
  padding:2rem;
}

.chart{
  background:#F8DFFF;
}

.recharts-responsive-container{
  padding-bottom: 2rem;
}

@media (min-width: 601px) {
  .inputtop > *:not(:first-child) {
    margin-left: 4rem; /* Equivalent to space-x-16 in Tailwind CSS (16 * 0.25rem) */
  }
}
@media (max-width: 600px) {

  .field{
    width:100%;
  }

  .date{
    width: 100%;
  }
  .inputtop{
    display:flex;
    flex-direction: column;
  }

  .expense-card {
    flex-direction: column;
    align-items: center;
  }

  .left{
    /* padding-left: 2rem; */
    flex-direction: column;
    text-align: center;
    p{
      padding-left: 0rem;
    }
  }
  .right {
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }
  .addexpense{
    justify-content: center;
  }
}